
#makeTwat{
	width: 7em;
	height: auto;
}
#slideshow, img.bgM {
        min-height: 100%;
        min-width: 1024px;
        width: 100%;
        height: auto;
        position: fixed;
        top: 0;
        left: 0;
        z-index:-9999;

}

.jumbotron{
    background: url('../images/jumbotron.jpg') no-repeat center center;
	height: 30em;
	background-size:cover;
}
.profilepic{
	background: url('../images/jowaldner.png') no-repeat center center;
	width: 13em;
	height: 13em;
	border: 3px solid black;
	border-radius: 5px;

}
.profile-container .attusername{
	font-family: helvetica;
	font-size: 13px;
}
.profile-container .realname{
	font-width:600;
	font-family: helvetica;
	font-size: 20px;
}
.profile-container{
	margin-top: 17%;
	margin-left: 12.5%;
}
.left-box{
	float:left;
	width: 20em;
	height: 50em;
	border: 2px dashed black;
	display: block;
	padding: 5px;
}
.left-box-top{
	width: 100%;
	height: 45%;
	padding:50px;
	display: block;
	border: 2px solid gray;
	border-radius: 5px;
}
.left-box-bottom{
	width: 100%;
	height:45%;
	padding:50px;
	display: block;
	border: 2px solid gray;
	border-radius: 5px;
	margin-top: 5px
}
.right-box{
	float:right;
	width: 20em;
	height: 50em;
	border: 2px dashed black;
	display: block;
	padding: 5px;


}
.right-box-top{
	width: 100%;
	height: 45%;
	padding: 50px;
	display: block;
	border: 2px solid gray;
	border-radius: 5px;
}
.right-box-bottom{
	width: 100%;
	height:45%;
	padding: 50px;
	display: block;
	border: 2px solid gray;
	border-radius: 5px;
	margin-top: 5px
}
.center-box{
	width: 34em;
	height: 50em;
	border: 2px dashed black;
	display: block;
	padding: 50px;
	margin-left: -17em;
	vertical-align: middle;
	position: absolute;
	left:50%;
}

.brand{
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
	position: absolute;
	margin-left: -25px !important;  /* 50% of your logo width */
	display: block;
	vertical-align: middle;
}

#twatterlogo{
	width: 35px;
	margin-top: 0.5em;
}
#profilepictest{
	width: 39px;
	border-radius: 5px;
	margin-left: 5px;
}

.dropdown-menu{
}

.navbar-default {
 background-color: white;
 border-color: white;
 margin:0;
 margin-top: -0.1em;
}
.navbar-toggle{
	margin-top: 0.8em;
}
.navbar {
	position: relative;
}

.navbar-left{
	margin-top:0.5em;
}

.input-group {
	margin-top: 0.5em;
}
.container {
	color:#FFFFFF;
	
}

.navbar-default .navbar-header .navbar-brand {
	margin-left: 18em;
}

.navbar-default .navbar-header > a {
	margin-top: 0.5em;
}
.navbar-default .navbar-brand {
 color: #eae9e9 ;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
 color: #c9c9c9 ;
}
.navbar-default .navbar-text {
 color: #eae9e9 ;
}
.navbar-default .navbar-nav > li > a {
 color: #eae9e9 ;
 z-index: +1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
 color: #c9c9c9 ;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
 color: #c9c9c9 ;
 background-color: #db711d ;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
 color: #c9c9c9 ;
 background-color: #db711d ;
}
.navbar-default .navbar-toggle {
 border-color: #db711d ;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
 background-color: #db711d ;
}
.navbar-default .navbar-toggle .icon-bar {
 background-color: #eae9e9 ;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
 border-color: #eae9e9 ;
}
.navbar-default .navbar-link {
 color: #eae9e9 ;
}
.navbar-default .navbar-link:hover {
 color: #c9c9c9 ;
}

@media (max-width: 767px) {
 .navbar-default .navbar-nav .open .dropdown-menu > li > a {
   color: #eae9e9 ;
 }
 .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
   color: #c9c9c9 ;
 }
 .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
   color: #c9c9c9 ;
   background-color: #db711d ;
 }

 #twatterlogo{
 	width:40px; 
 	height: auto;
 }
}
@media (max-width: 1201px) {
	form.navbar-form.navbar-right{
		width: 200px;
	}
	.right-box{
		float: left;
		clear:both;
		border: 2px dashed black;
		margin-top: 5px;
		display: inline-block;
		padding: 5px;
	}
	.left-box{
		float:left;
		clear:both;
		border: 2px dashed black;
		display: inline-block;
		padding: 5px;
	}
	.center-box{
		width: 42em;
		height: 50em;
		margin-left: -120px;
		border: 2px dashed black;
		vertical-align: middle;
		float:left;
	}

}
@media (max-width: 991px) {
	form.navbar-form.navbar-right{
		display: none;
	}
	.center-box{
		width: 70%;
		height: 50em;
		border: 2px dashed black;
		float:left;
		margin-left: -35%;
		vertical-align: middle;
		position: absolute;
		left:50%;
	}
	.left-box{
		display: none;
	}
	.right-box{
		display: none;
	}

	body{
    background-color: #525252;
}
.centered-form{
	margin-top: 60px;
	padding-top: 25px;


}

.centered-form .panel{
	background: rgba(255, 255, 255, 0.8);
	box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
	padding-top: 25px;
}

		
