@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700);
/* #f5f8fa color for the rest of the page (same as twitter)*/
#makeTwat{
	width: 7em;
	height: auto;
	border: 1px solid #db711d;
	border-radius: 4px;

}
body{
	background: url("../images/B-2.jpg");
}
a {
	color: black;
}
.profileStatus > a {
	color: #db711d;
}

.button-text{
	font-family: 'Open Sans', sans-serif;
}
.UserActions{
	margin-top: 7px;
	
}
.profilenav-list li {
	margin-top: 7px;
	display: block;
	float: left;
	text-align: center;
	padding: 20px;
	padding-bottom: 5px;
	padding-top: 5px;

}
.glyphicon .glyphicon-cog{
	font-size: 40px;
}
.profilenav{
	background-color: white;
}
.ProfileNav-label{
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	color: #60707a;
}
.ProfileNav-value{
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	color: #db711d;
}
.profilenav-list li.active, .profilenav-list li:hover{
	border-bottom: 4px solid #db711d;
}
.profilenav-list li a{
	text-decoration: none;
	display: block;

}
.ProfileNav-label{
	width: 100%;
	display: block;
}

.media-object{
	width:50px;
	height: 
	border-radius: 5px;
}

.jumbotron{
    background: url('../images/jumbotron.jpg') no-repeat center center;
	height: 380px;
	background-size:cover;
	margin:0;
}

.profilepic{
	background: url('../images/jowaldner.png') no-repeat center center;
	width: 13em;
	height: 13em;
	border: 3px solid white;
	border-radius: 5px;

}
.profile-container .attusername{
	font-family: helvetica;
	font-size: 13px;
}
.profile-container .realname{
	font-width:600;
	font-family: helvetica;
	font-size: 20px;
}
.profile-container{
	position: absolute;
	bottom: -130px;
	left: 230px;

}

.left-box{
	float:left;
	width: 20em;
	height: 30em;
	display: block;
	padding: 5px;
}
.left-box .jumbotron{
	height: 7em;
	border-radius: 2px;
}
.left-box .profileBox-container{
	margin:0;
	margin-top: -2em;
	margin-left: 0.5em;
}
.left-box .profilepic{
	height: 5em;
	width: 5em;
	background-size: cover;
	display: block;
}
.left-box .realName{
	display: block;
	margin-top: -3em;
	margin-left: 6em;
}
.left-box .profileName{
	display: block;
	font-size: 0.8em;
	margin-top: -1em;
	margin-left: 7.5em;
}
.left-box .profileStatus{
	margin-left: 1em;
	display: inline-block;
}
.left-box-top{
	background-color: white;
	width: 100%;
	height: 45%;
	display: block;
	border-radius: 5px;
}

.left-box-bottom{
	background-color: white;
	width: 100%;
	height:45%;
	display: block;
	border-radius: 5px;
	margin-top: 5px
}
.right-box{
	float:right;
	width: 20em;
	height: 50em;
	display: block;
	padding: 5px;


}
.right-box-top{
	background-color: white;
	width: 100%;
	height: 45%;
	padding: 8px;
	display: block;
	border-radius: 5px;
}
.right-box-top > a {
	color: #db711d;
}
.right-box-bottom{
	background-color: white;
	width: 100%;
	height:45%;
	padding: 50px;
	display: block;
	border-radius: 5px;
	margin-top: 5px
}
.center-box{
	background-color: white;
	margin-top: 5px;
	width: 34em;
	height: 50em;
	border-radius: 5px;
	display: block;
	padding: 50px;
	margin-left: -17em;
	vertical-align: middle;
	position: absolute;
	left:50%;
}

.brand{
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
	position: absolute;
	left: 50%;
	margin-left: -25px !important;  /* 50% of your logo width */
	display: block;
	vertical-align: middle;
}

#twatterlogo{
	width: 35px;
	margin-top: 0.5em;
}
#profilepictest{
	width: 39px;
	height: 39px;
	border-radius: 5px;
	margin-left: 5px;
}

.dropdown-menu a:active{
	color: #ec922c;
}

.navbar-default {
 background-color: white ;
 border-color: white ;
 margin:0;
 margin-top: -0.1em;
}
.navbar-toggle{
	margin-top: 0.8em;
}
.navbar {
	position: relative;
}

.navbar-left{
	margin-top:0.5em;

}

.input-group {
	margin-top: 0.5em;
}
.container {
	
}

.navbar-default .navbar-header .navbar-brand {
	margin-left: 18em;
}

.navbar-default .navbar-header > a {
	margin-top: 0.5em;
}
.navbar-default .navbar-brand {
 color: #eae9e9 ;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
 color: #c9c9c9 ;
}
.navbar-default .navbar-text {
 color: #eae9e9 ;
}
.navbar-default .navbar-nav > li > a {
 color: #db711d ;
 z-index: +1;
 font-family: 'Open Sans', sans-serif;
 font-size: 15px;

}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li.activePage > a{
	color: #db711d;
 	border-bottom: 4px solid #db711d;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
 color: #c9c9c9 ;
 background-color: #db711d ;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
 color: #c9c9c9 ;
 background-color: #db711d ;
}
.navbar-default .navbar-toggle {
 border-color: #db711d ;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
 background-color: #db711d ;
}
.navbar-default .navbar-toggle .icon-bar {
 background-color: #eae9e9 ;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
 border-color: #eae9e9 ;
}
.navbar-default .navbar-link {
 color: #eae9e9 ;
}
.navbar-default .navbar-link:hover {
 color: #c9c9c9 ;
}

@media (max-width: 767px) {
 .navbar-default .navbar-nav .open .dropdown-menu > li > a {
   color: #eae9e9 ;
 }
 .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
   color: #c9c9c9 ;
 }
 .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
   color: #c9c9c9 ;
   background-color: #db711d ;
 }

 #twatterlogo{
 	width:40px; 
 	height: auto;
 }
}
@media (max-width: 1201px) {
	form.navbar-form.navbar-right{
		width: 200px;
	}
	.right-box{
		float: left;
		clear:both;
		margin-top: 5px;
		display: inline-block;
		padding: 5px;
	}
	.left-box{
		float:left;
		clear:both;
		display: inline-block;
		padding: 5px;
	}
	.center-box{
		width: 42em;
		height: 50em;
		margin-left: -120px;
		vertical-align: middle;
		float:left;
	}

}
@media (max-width: 991px) {
	form.navbar-form.navbar-right{
		display: none;
	}
	.center-box{
		width: 70%;
		height: 50em;
		float:left;
		margin-left: -35%;
		vertical-align: middle;
		position: absolute;
		left:50%;
	}
	.left-box{
		display: none;
	}
	.right-box{
		display: none;
	}
		
}
